iframe{
    width:80%;
    height:300px;
    margin:auto;
    margin-top:0%;
}
.document-link{
    text-decoration:none;
    color:#999999;
    float:left;
    margin:auto;
}
.document-link:hover{
    text-decoration:underline;
    color:#777777;
}
section{
    margin-top:3%;
}
