h1 a{
    font-size: 50px;
    text-decoration: none;
    color:#666666;
}
h1 a:hover{
    color:#555555
}

body{
    text-align:center;
    background-color:#fff2ff;
    font-family: Helvetica;
    margin: 0;
}

article{
    text-align:left;
    width: 92%;
    margin: 0 auto;
}
table{
    background-color:#ffe3ff;
}
.navigation-bar{
    width:100%;
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: #DDDDDD;
    position: sticky;
    top: 0;
}
.navigation-bar li{
    font-size: 120%;
    display:inline-block;
}
.navigation-bar li:hover{
    background-color:#999999;
}
.navigation-bar li.active{
    background-color: #999999;
}
.navigation-bar a{
    text-decoration: none;
    color: #000000;
    display:inline-block;
    width:100%;
    padding: 0.8em;
    box-sizing: border-box;
}
.navigation-bar .icon{
    display:none;
}

/*
    Dynamic navigation will turn menu from horizontal navigation
    bar to vertical drop-down. This function transitions the navigation
    from the horizontal bar to vertical drop-down, however, it does not
    control the changes taken place when 'hamburger' button is clicked.
*/
@media screen and (max-width: 1006px){
    .navigation-bar li:not(:first-child) {display: none;}
    .navigation-bar li.icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-bar li:first-child {width:90%;}
    .navigation-bar a{
        padding: 0.5em;
    }
    .navigation-bar a:first-child {display:block; width:auto;}
}
/*
    Controls dropdown view when 'hamburger' button is clicked.
*/
@media screen and (max-width: 1006px) {
    .navigation-bar.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation-bar.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
}
