section{
    text-align:left;
    width:80%;
    margin:auto;
}
a{
    display:inline-block;
    font-size: 15;
    text-decoration:none;
    color:#777777;
}
section a:hover{
    text-decoration: underline;
}
h4{
    display:inline-block;
    margin:0;
}
div{
    margin-bottom:1%;
}
p{
    display:inline-block;
    margin:1%;
}
.nav-link:hover{
    text-decoration: none;
}
